* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue;
    color: black;
}

header {
    background-color: #3a7c80;
    padding: 20px;
    height: 30%;
}

main {
    display: inline-table;
    width: 70%;
}

.weapons {
    align-content: center;
    margin: 20px;
}

.weapon {
    background-color: #71c8cc;
    margin: 20px;
    width: 60%;
}

.weapon h3,
.weapon div {
    display: block;
    margin: 10px;
}

.icons {
    position: absolute;
    left: 40%;
}


.delete-icon:hover,
.edit-icon:hover {
    opacity: 0.5;
}

aside {
    display: inline-table;
    width: 20%;
    position: absolute;
    top: 25%;
    right: 5%;
}

form input,
form button {
    width: 100%;
    padding: 15px 5%;
    margin-bottom: 10px;
    border: 0;
    outline: none;
    background-color: #71c8cc;
    color: black;
}

form input {
    width: 90%;
}

font button {
    width: 100%;
}

.weapon form input,
.weapon form button {
    background-color: #58a9ad;
}


input::placeholder {
    color: #6a4e4d;
}

header h2,
header div {
    display: inline-table;
}

.data {
    width: 20%;
    position: absolute;
    right: 5%;
    top: 10px;
}


.download-icon,
.upload-icon {
    margin-right: 60px;
}

.download-icon:hover,
.upload-icon:hover {
    opacity: 0.5;
}

input::placeholder {
    color: #6a4e4d;
}

header form input,
header form button {
    height: 70%;
}
